version: '3.7'

x-build_default: &build_default
  image: salon_arch
  build:
    context: .
    cache_from:
      - ruby:2.5.1-alpine
      - salon_arch

x-build_test: &build_test
  image: salon_test
  build:
    context: .
    dockerfile: Dockerfile.test
    cache_from:
      - ruby:2.5.1-alpine
      - salon_test

services:

  arch:
    <<: *build_default
    ports:
      - "9292:9292"
    environment:
      - REDIS_HOST=http://redis:6379
      - APP_NAME=arch
    env_file:
      - secrets.env
    depends_on:
      - redis
    volumes:
      - .:/app

  test:
    <<: *build_test
    environment:
      REDIS_HOST: http://test_redis:6379
      TEST_CLIENT_ID:
      TEST_CLIENT_SECRET:
      COVERALLS_REPO_TOKEN:
      CI:
    env_file:
      - secrets.env
    command: ["bundle", "exec", "rake"]
    depends_on:
      - test_redis

  test_redis:
    image: redis:3-alpine

  redis:
    image: redis:3-alpine
