---
http_interactions:
- request:
    method: get
    uri: http://login.dev/oauth/token/info?access_token=admin_access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"612b534690305e9805c897f7f59d0274"
    body:
      encoding: UTF-8
      string: '{"resource_owner_id":null,"scopes":["admin"],"expires_in_seconds":4846,"application":{"uid":"f8162cb895fe7ec3c0c6a80e508011fe3cef90ed95c09bdc16de3d898b084753"},"created_at":1498156785}'
  recorded_at: Thu, 22 Jun 2017 19:22:11 GMT
[...]
- request:
    method: get
    uri: http://login.dev/oauth/token/info?access_token=access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7a39400e5a7d38c3a5843341f5e3ce6d"
    body:
      encoding: UTF-8
      string: '{"resource_owner_id":null,"scopes":[],"expires_in_seconds":4059,"application":{"uid":"161cce36637655d278a33d94f8b0c06d80a6317014b2390e4168dfa54c47686e"},"created_at":1498155998}'
  recorded_at: Thu, 22 Jun 2017 19:22:11 GMT
[...]
- request:
    method: get
    uri: http://login.dev/oauth/token/info?access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: 'Unauthorized '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Bearer realm="Doorkeeper", error="invalid_request", error_description="The
        request is missing a required parameter, includes an unsupported parameter
        value, or is otherwise malformed."
    body:
      encoding: UTF-8
      string: '{"error":"invalid_request","error_description":"The request is missing
        a required parameter, includes an unsupported parameter value, or is otherwise
        malformed."}'
  recorded_at: Thu, 22 Jun 2017 19:22:11 GMT
[...]
- request:
    method: get
    uri: http://login.dev/oauth/token/info?access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: 'Unauthorized '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Bearer realm="Doorkeeper", error="invalid_request", error_description="The
        request is missing a required parameter, includes an unsupported parameter
        value, or is otherwise malformed."
    body:
      encoding: UTF-8
      string: '{"error":"invalid_request","error_description":"The request is missing
        a required parameter, includes an unsupported parameter value, or is otherwise
        malformed."}'
  recorded_at: Thu, 22 Jun 2017 19:22:12 GMT
recorded_with: VCR 3.0.3
