---
http_interactions:
- request:
    method: get
    uri: https://dev.login.library.nyu.edu/oauth/token/info?access_token=admin_access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"8c2ddc139d16384e61912572849ac194"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"resource_owner_id":null,"scopes":["admin"],"expires_in_seconds":7200,"application":{"uid":"TEST_CLIENT_ID"},"created_at":1523295061}'
  recorded_at: Mon, 09 Apr 2018 17:31:01 GMT
[...]
- request:
    method: get
    uri: https://dev.login.library.nyu.edu/oauth/token/info?access_token=access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"8f163329d19684f3cd71aa1a85eb3be8"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"resource_owner_id":null,"scopes":[],"expires_in_seconds":7200,"application":{"uid":"TEST_CLIENT_ID"},"created_at":1523295061}'
  recorded_at: Mon, 09 Apr 2018 17:31:01 GMT
[...]
- request:
    method: get
    uri: https://dev.login.library.nyu.edu/oauth/token/info?access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="Doorkeeper", error="invalid_request", error_description="The
        request is missing a required parameter, includes an unsupported parameter
        value, or is otherwise malformed."
      Status:
      - 401 Unauthorized
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"invalid_request","error_description":"The request is missing
        a required parameter, includes an unsupported parameter value, or is otherwise
        malformed."}'
  recorded_at: Mon, 09 Apr 2018 17:31:02 GMT
[...]
- request:
    method: get
    uri: https://dev.login.library.nyu.edu/oauth/token/info?access_token=admin_access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"6f0b6beada281ce746866b9e3eedf6ba"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"resource_owner_id":null,"scopes":["admin"],"expires_in_seconds":7200,"application":{"uid":"TEST_CLIENT_ID"},"created_at":1537476886}'
  recorded_at: Thu, 20 Sep 2018 20:54:46 GMT
recorded_with: VCR 4.0.0
