---
http_interactions:
- request:
    method: get
    uri: https://dev.login.library.nyu.edu/oauth/token/info?access_token=admin_access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"25ab24d6337e7f0b44c53b8b6dc1484b"
    body:
      encoding: UTF-8
      string: '{"resource_owner_id":null,"scopes":["admin"],"expires_in_seconds":6913,"application":{"uid":"f127d2db8b40c4c74f53f9ce0c90f42fc1875602b099048c4df9a212e0454c89"},"created_at":1498251252}'
  recorded_at: Fri, 23 Jun 2017 20:58:59 GMT
[...]
- request:
    method: get
    uri: https://dev.login.library.nyu.edu/oauth/token/info?access_token=access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f339c5ea938f1a9a9e8bfcae46762f10"
    body:
      encoding: UTF-8
      string: '{"resource_owner_id":null,"scopes":[],"expires_in_seconds":6921,"application":{"uid":"5f02e7a57a8e4e0ecca47a5f3751e12392c224930852c92f3e6e31eb96745519"},"created_at":1498251261}'
  recorded_at: Fri, 23 Jun 2017 20:59:00 GMT
[...]
- request:
    method: get
    uri: https://dev.login.library.nyu.edu/oauth/token/info?access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: 'Unauthorized '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Bearer realm="Doorkeeper", error="invalid_request", error_description="The
        request is missing a required parameter, includes an unsupported parameter
        value, or is otherwise malformed."
    body:
      encoding: UTF-8
      string: '{"error":"invalid_request","error_description":"The request is missing
        a required parameter, includes an unsupported parameter value, or is otherwise
        malformed."}'
  recorded_at: Fri, 23 Jun 2017 20:59:00 GMT
[...]
- request:
    method: get
    uri: https://dev.login.library.nyu.edu/oauth/token/info?access_token=admin_access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="Doorkeeper", error="invalid_request", error_description="The
        request is missing a required parameter, includes an unsupported parameter
        value, or is otherwise malformed."
      Status:
      - 401 Unauthorized
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"invalid_request","error_description":"The request is missing
        a required parameter, includes an unsupported parameter value, or is otherwise
        malformed."}'
  recorded_at: Fri, 30 Jun 2017 16:51:23 GMT
[...]
- request:
    method: get
    uri: https://dev.login.library.nyu.edu/oauth/token/info?access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="Doorkeeper", error="invalid_request", error_description="The
        request is missing a required parameter, includes an unsupported parameter
        value, or is otherwise malformed."
      Status:
      - 401 Unauthorized
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"invalid_request","error_description":"The request is missing
        a required parameter, includes an unsupported parameter value, or is otherwise
        malformed."}'
  recorded_at: Fri, 30 Mar 2018 17:18:28 GMT
recorded_with: VCR 4.0.0
