<%
error_title = ((defined? error_title).nil?) ? error_title : "Sorry, there was an error"
%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>NYU Libraries | <%= error_title %></title>
    <style>
      header {
        margin: auto;
        padding: 30px;
        background-color: #57068C;
      }
      .nyu-container {
        padding: 0 1em;
      }
      .breadcrumb {
        padding-left: 30px !important;
      }
    </style>
    <link rel="SHORTCUT ICON" href="https://cdn.library.nyu.edu/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <header>
      <span><a href="https://library.nyu.edu" target="_blank"><img src="https://cdn.library.nyu.edu/images/nyulibraries-logo.svg" alt="NYU Libraries" width="233" height="30"></a></span>
    </header>
