<% error_title = "We're sorry, we can't find that resource at all!" %>
<%= erb 'partials/_header'.to_sym, locals: { error_title: error_title } %>
<%= erb 'partials/_breadcrumbs'.to_sym, locals: { error_title: error_title } %>

  <main>
    <div class="nyu-container">
      <div class="col-sm-12">
        <h1><%= error_title %></h1>

        <h2>Here are some ways to troubleshoot:</h2>
        <ul>
          <li>It may just be a typo. Double check the resource's spelling and <a href="https://guides.nyu.edu/az.php">search again.</a></li>
          <li>The resource url may be out of date. <a href="https://guides.nyu.edu/az.php">Try a search with the new Databases A-Z page.</a></li>
          <li><strong>Tip:</strong> Don't forget to update your bookmarks!</li>
        </ul>

        <h2>Get help from a librarian:</h2>
        <ul>
          <li>Chat or email our <a href="https://library.nyu.edu/ask">Ask a Librarian</a> service</li>
        </ul>
      </div>
    </div>
  </main>

<%= erb 'partials/_footer'.to_sym %>
