<% error_title = 'Sorry, there was an error' %>
<%= erb 'partials/_header'.to_sym %>
<%= erb 'partials/_breadcrumbs'.to_sym, locals: { error_title: error_title } %>

    <div class="nyu-container">
      <div class="col-sm-12">
        <h1><%= error_title %></h1>

        <p>Couldn't find the page requested</p>
      </div>
    </div>

<%= erb 'partials/_footer'.to_sym %>
